html body {
    height: 100%;
}

body {
    background: rgb(138,43,226);
    background: linear-gradient(0deg, rgba(138,43,226,1) 0%, rgba(95,18,166,1) 100%);
}

.avatar{
    width: 100px;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 0px;
    border: 3px solid #ffffff;
    box-shadow: 0px 0px 20px #ffffff;

}

.nome-principal{
    color: #ffffff;
    font-family: 'Caveat', cursive;
    font-size: 35px;
    margin-top: 0px;
    margin-bottom:0px;

}

.cargo{
    color:#ffffff;
    font-size: 20px;
    margin-top:0px;

}

.profile{
    text-align: center;
}

.social{
    color: #8a2bef;
    list-style: none;
    text-align: center;
    padding: 0px;
}

.social li {
    margin: 20px 200px;
}

.social li a {
    background-color: #ffffff;
    padding: 10px;
    display: block;
    border-radius: 10px;
    box-shadow: 3px 3px 10px #ffffff;
    text-decoration: none;
    color:#8a2bef;
    font-family: 'Caveat', cursive;
    font-size: 25px;
    font-weight: 400;

}

.social img{
    width: 30px;
}